<div class="m-4 border border-2 border-primary">


        <div class="p-2">
            <app-simple-table0 [userData]="userData"></app-simple-table0>
        </div>

<div class="row">
    <div class="col">
        <button (click)="sortByAge()" class="btn btn-primary btn-sm">age desc</button>
    </div>
    <div class="col">
        <button (click)="sortByAgeAsc()" class="btn btn-primary btn-sm">age desc</button>
    </div>
    <div class="col">
        <button (click)="sortByAgeLast()" class="btn btn-primary btn-sm">age desc</button>
    </div>
</div>


</div>